<div>

  <h2>Acceso a la pagina</h2>

  <form action="/auth/login" method="POST">

    <label for="acceso">Correo Electronico o nombre:</label>
    <input type="text" name="acceso">
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password">
    <br>
    <p style="background-color: red;">{{errorMessage}}</p>
    <br>
    <button>Acceder</button>


  </form>

</div>