<div>

  <h2>Registro de Usuario:</h2>

  <form action="/auth/signup" method="POST">

    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username">
    {{!-- ejemplos de validaciones de frontend --}}
    {{!-- <input type="text" name="username" required="true" minlength="3"> --}}
    <br>
    <label for="email">Correo Electronico:</label>
    <input type="text" name="email">
    {{!-- ejemplos de validaciones de frontend --}}
    {{!-- <input type="email" name="email"> --}}
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password">
    <br>
    <p style="background-color: red;">{{errorMessage}}</p>
    
    <br>
    <button>Crear usuario</button>

  </form>


</div>